@charset "UTF-8";
.logo-nav {
  height: 3rem; }

/* Pie de Pagina */
.pie-pagina {
  width: 100%; }
  .pie-pagina .grupo-1-footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .pie-pagina .grupo-1-footer .red-social-footer a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: white;
      margin-right: 10px;
      transition: all 300ms ease; }
      .pie-pagina .grupo-1-footer .red-social-footer a:hover {
        color: aquamarine; }
    .pie-pagina .grupo-1-footer .box-footer h2 {
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1-footer .box-footer span {
      margin-bottom: 10px;
      transition: all 300ms ease; }
      .pie-pagina .grupo-1-footer .box-footer span:hover {
        color: aquamarine; }
    .pie-pagina .grupo-1-footer figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pie-pagina .grupo-1-footer figure img {
        width: 150px; }
  .pie-pagina .grupo-2-footer {
    padding: 15px 10px;
    text-align: center; }

@media screen and (max-width: 800px) {
  .pie-pagina {
    width: 100%; }
    .pie-pagina .grupo-1-footer {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px; } }

.titulo-inicio {
  display: flex;
  justify-content: center;
  border-top: 1px;
  border-bottom: 1px;
  border-color: black;
  border-style: solid;
  margin: 3rem 0rem;
  padding: 3rem 0rem; }

.contenedor-productos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem; }
  .contenedor-productos .titulo-productos {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center; }
  .contenedor-productos .contenedor-tarjetas-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem; }
    .contenedor-productos .contenedor-tarjetas-productos .producto {
      text-align: center;
      padding: 3rem 2rem;
      background: #fff;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      outline: .1rem solid #ccc;
      outline-offset: -1.5rem;
      cursor: pointer; }
      .contenedor-productos .contenedor-tarjetas-productos .producto .precio {
        font-size: 2rem;
        color: #444; }
      .contenedor-productos .contenedor-tarjetas-productos .producto h3 {
        padding: .5rem 0;
        font-size: 2rem;
        color: #444; }
      .contenedor-productos .contenedor-tarjetas-productos .producto:hover {
        outline: .2rem solid #222;
        outline-offset: 0; }
        .contenedor-productos .contenedor-tarjetas-productos .producto:hover h3 {
          color: #27ae60; }
        .contenedor-productos .contenedor-tarjetas-productos .producto:hover img {
          transform: scale(0.9); }
      .contenedor-productos .contenedor-tarjetas-productos .producto img {
        height: 25rem; }

.producto-prevista {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center; }
  .producto-prevista .prevista {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem; }
    .producto-prevista .prevista img {
      height: 30rem; }
    .producto-prevista .prevista .fa-times {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      cursor: pointer;
      color: #444;
      font-size: 4rem; }
      .producto-prevista .prevista .fa-times:hover {
        transform: rotate(90deg); }
    .producto-prevista .prevista h3ñ {
      color: #444;
      padding: .5rem 0;
      font-size: 2.5rem; }
    .producto-prevista .prevista .estrellas {
      padding: 1rem 0;
      font-size: 1.7rem; }
      .producto-prevista .prevista .estrellas i {
        color: #27ae60; }
      .producto-prevista .prevista .estrellas span {
        color: #999; }
    .producto-prevista .prevista p {
      line-height: 1.5;
      padding: 1rem 0;
      font-size: 1.6rem;
      color: #777; }
    .producto-prevista .prevista .precio {
      padding: 1rem 0;
      font-size: 2.5rem;
      color: #27ae60; }
    .producto-prevista .prevista .botones-tarjeta-productos {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      margin-top: 1rem; }
      .producto-prevista .prevista .botones-tarjeta-productos a {
        flex: 1 1 16rem;
        padding: 1rem;
        font-size: 1.8rem;
        color: #444;
        border: .1rem solid #444; }

.producto-prevista .prevista.active {
  display: inline-block; }

.producto-prevista .prevista .botones-tarjeta-productos a.carrito {
  background: #444;
  color: #fff; }
  .producto-prevista .prevista .botones-tarjeta-productos a.carrito:hover {
    background: #111; }

.producto-prevista .prevista .botones-tarjeta-productos a.comprar:hover {
  background: #444;
  color: #fff; }

@media (max-width: 768px) {
  .producto-prevista .prevista img {
    height: 25rem; } }

* {
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize; }

html {
  overflow-x: hidden; }

body {
  background-color: #eee; }
