@import './navbar.scss';
@import './footer.scss';
@import './index.scss';
@import './productos.scss';
@import './soporte-tecnico.scss';

*{
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #eee;
}