.titulo-inicio{
    display: flex;
    justify-content: center;
    border-top: 1px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
    margin: 3rem 0rem;
    padding: 3rem 0rem;
}